<div><h1>Wenming Wu(吴文明)</h1></div>

<div class='sidebaritem' id='headshot'>
	<img class='img img-responsive' src='/img/me.png' width='300'/>
</div>

<div class='sidebaritem' id='affiliations'>
	<div class='sidebarheader'>Affiliations</div>
	<div><a target='_blank' href='http://gcl.ustc.edu.cn/'>Graphics&Geometric Computing Laboratory</a></div>
	<div><a target='_blank' href='http://math.ustc.edu.cn/new/'>School of Mathematical Sciences</a></div>
	<div><a target='_blank' href='https://www.ustc.edu.cn'>University of Science and Technology of China</a></div>
</div>

<div align='center' class='sidebaritem' id='contactinfo'>
	<div class='sidebarheader'>Contact Information</div>
	<div>Room 1204, Management and Research Building</div>
	<div>East Campus, University of Science and Technology of China</div>
	<div>Hefei, Anhui, 230026, P.R.China</div>
	<div>
		<a href='mailto:wwming@mail.ustc.edu.cn' style='text-decoration:none'>
		  <img src='/img/icons/email.svg' type='image/svg+xml'
		       width=32px style='vertical-align:middle'>
		</a>
		&nbsp;
		<a target='_blank' href='https://github.com/wutomwu' style='text-decoration:none'>
		  <img src='/img/icons/github.svg' type='image/svg+xml'
		       width=32px style='vertical-align:middle'>
		</a>
		&nbsp;
		<a target='_blank' href='misc/cv.pdf' style='text-decoration:none'>
		  <img src='/img/icons/cv.png'
		       width=32px style='vertical-align:middle'>
		</a>
	</div>
</div>
