<div><h1>Kai Wang</h1></div>

<div class='sidebaritem' id='headshot'>
	<img class='img img-responsive' src='/img/me.jpg' width='350'/>
</div>

<div class='sidebaritem' id='affiliations'>
	<div class='sidebarheader'>Affiliations</div>
	<div><a target='_blank' href='http://brown.edu'>Brown University</a></div>
	<div><a target='_blank' href='http://cs.brown.edu'>Computer Science Department</a></div>
</div>

<div class='sidebaritem' id='contactinfo'>
	<div class='sidebarheader'>Contact Information</div>
	<div>CIT, Room 553</div>
	<div>115 Waterman Street</div>
	<div>Providence, RI 02912</div>
	<div>
		<a href='mailto:kai_wang@brown.edu' style='text-decoration:none'>
		  <img src='/img/icons/email.svg' type='image/svg+xml'
		       width=32px style='vertical-align:middle'>
		</a>
		&nbsp;
		<a target='_blank' href='https://github.com/kwang-ether' style='text-decoration:none'>
		  <img src='/img/icons/github.svg' type='image/svg+xml'
		       width=36px style='vertical-align:middle'>
		</a>
		&nbsp;
		<a target='_blank' href='misc/cv.pdf' style='text-decoration:none'>
		  <img src='/img/icons/cv.png'
		       width=32px style='vertical-align:middle'>
		</a>
		&nbsp;
		<a target='_blank' href='https://soundcloud.com/user-637757692' style='text-decoration:none'>
		  <img src='/img/icons/soundcloud.png'
		       width=32px style='vertical-align:middle'>
		</a>
	</div>
</div>
